<a href="https://colab.research.google.com/github/matapro/python/blob/master/5_mnozenje.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range (0,100):
  for j in range (0,100):
    for k in range (0,100):
      if (i*j*k==100):
        print(i,j,k)

1 2 50
1 4 25
1 5 20
1 10 10
1 20 5
1 25 4
1 50 2
2 1 50
2 2 25
2 5 10
2 10 5
2 25 2
2 50 1
4 1 25
4 5 5
4 25 1
5 1 20
5 2 10
5 4 5
5 5 4
5 10 2
5 20 1
10 1 10
10 2 5
10 5 2
10 10 1
20 1 5
20 5 1
25 1 4
25 2 2
25 4 1
50 1 2
50 2 1