<a href="https://colab.research.google.com/github/matapro/python/blob/master/ORD_SUMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
z=0
s = "mata je dobro napravio ovaj zadatak"
l=list(s)
print(l)
for x in l:
  print(x)
  print(ord(x))
  z=z+ord(x)
  
  
  
print('suma',z)

['m', 'a', 't', 'a', ' ', 'j', 'e', ' ', 'd', 'o', 'b', 'r', 'o', ' ', 'n', 'a', 'p', 'r', 'a', 'v', 'i', 'o', ' ', 'o', 'v', 'a', 'j', ' ', 'z', 'a', 'd', 'a', 't', 'a', 'k']
m
109
a
97
t
116
a
97

32
j
106
e
101

32
d
100
o
111
b
98
r
114
o
111

32
n
110
a
97
p
112
r
114
a
97
v
118
i
105
o
111

32
o
111
v
118
a
97
j
106

32
z
122
a
97
d
100
a
97
t
116
a
97
k
107
suma 3352